*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 94%;
    margin: auto;
}
#lmr{
    display: flex;
}
#left , #right{
    width: 15%;
    font-size: 10.5px;
    letter-spacing: .4px;
    line-height: 20px;
}
#left div:hover, #right div:hover{
    cursor: pointer;
    text-decoration: underline;
}
#mid_grid{
    display: grid;
    grid-template-columns: repeat(4,23%);
    grid-template-rows: auto;
    gap: 0px 15px;
}
#mid_grid div{
    height: 60vh;
    padding: 10px;
}
#mid_grid div img{
    width: 100%;
}
#mid{
    width: 70%;
}
p,h3{
    font-size: 12px;
}

#innerp p{
    padding-left: 20px;
}
#innerp>p:hover{
    text-decoration: underline;
}

#inmid{
    width: 72%;
    font-size: 12px;
    letter-spacing: 0.4px;
    margin: 10px 0px 80px 0px;
}
#inmid div p{
    margin-top: 6px;
    font-size: 11px;
    line-height: .9rem;
}
#forP p:hover{
    text-decoration: underline;
}
